name: Rust CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Rust tools
      run: |
        rustup target add wasm32-wasip1
        cargo install cargo-tarpaulin
        cargo install cargo2junit

    - name: Build
      run: cargo build-wasi
    
    - name: Use Node.js v24
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'
    
    - name: Install npm dependencies
      run: npm install

    - name: Test usage with npm
      run: npm test

    - name: Test internals with cargo
      run: |
        RUSTC_BOOTSTRAP=1 cargo test -- -Z unstable-options --format json --report-time | cargo2junit > junit.xml
        cargo tarpaulin --skip-clean --out xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: ./target/tarpaulin/coverage.xml

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}